body{
    border-bottom-color: rgb(255,0,102);
    border-color:rgb(255,0,102);
    border-style: solid
}

#flower{
    height:150px;
    position: absolute;
    bottom: 0px;
    left: 150px;
}

#butterflyLeft{
    visibility: hidden;
    position: absolute;
    right: -50px;
    bottom:-50px;
    height: 100px;
}

body {
  display: block;
  position: absolute;
  top: 10px;
  width: 500px;
  height: 300px;
  background: white;
}

#butterflyRight{
    visibility: visible;
    position: absolute;
    left: -100px;
    bottom:-100px;
    height: 100px;
}

