#profilepicture{
                width: 100;
}

.nopadding {
   padding: 1 !important;
   margin: 0 !important;
}

.padding {
    padding:3;
}

.margin{
    margin:1;
}
    


.menu {
    height:180;
}

.main {
    height: 300;
}

.container{
    background-color: #E5CCFF
}

body {
    background-color: #CC99FF
}

.hidden{
   visibility:hidden;
}

.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  height: 100px;
}