#profilepicture{
                width: 100;
}

.nopadding {
   padding: 1 !important;
   margin: 0 !important;
}

.padding {
    padding:1;
}

.menu {
    height:180;
}

.main {
    height: 300;
}

.container{
    background-color: #E5CCFF
}

body {
    background-color: #CC99FF
}